<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2012 杭州端点网络科技有限公司
  -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!--rrs related entity-->
        <typeAlias alias="DepositFee" type="com.aixforce.rrs.settle.model.DepositFee"/>
        <typeAlias alias="Settlement" type="com.aixforce.rrs.settle.model.Settlement"/>
        <typeAlias alias="ItemSettlement" type="com.aixforce.rrs.settle.model.ItemSettlement"/>
        <typeAlias alias="DailySettlement" type="com.aixforce.rrs.settle.model.DailySettlement"/>
        <typeAlias alias="SellerSettlement" type="com.aixforce.rrs.settle.model.SellerSettlement"/>
        <typeAlias alias="DepositAccount" type="com.aixforce.rrs.settle.model.DepositAccount"/>
        <typeAlias alias="AlipayCash" type="com.aixforce.rrs.settle.model.AlipayCash"/>
        <typeAlias alias="SellerAlipayCash" type="com.aixforce.rrs.settle.model.SellerAlipayCash"/>
        <typeAlias alias="OrderAlipayCash" type="com.aixforce.rrs.settle.model.OrderAlipayCash"/>
        <typeAlias alias="SettleJob" type="com.aixforce.rrs.settle.model.SettleJob"/>
        <typeAlias alias="PreSale" type="com.aixforce.rrs.presale.model.PreSale"/>
        <typeAlias alias="BusinessRate" type="com.aixforce.rrs.settle.model.BusinessRate"/>
        <typeAlias alias="ShopAuthorizeInfo" type="com.aixforce.rrs.grid.model.ShopAuthorizeInfo"/>
        <typeAlias alias="BrandsSellers" type="com.aixforce.rrs.grid.model.BrandsSellers"/>
        <typeAlias alias="UnitBrand" type="com.aixforce.rrs.grid.model.UnitBrand"/>
        <typeAlias alias="StorageStock" type="com.aixforce.rrs.presale.model.StorageStock"/>
        <typeAlias alias="AddressStorage" type="com.aixforce.rrs.presale.model.AddressStorage"/>
        <typeAlias alias="UnitSeller" type="com.aixforce.rrs.grid.model.UnitSeller"/>


        <!--coupons related entity-->
        <typeAlias alias="Coupon" type="com.aixforce.rrs.coupon.model.Coupon"/>
        <typeAlias alias="CouponUsage" type="com.aixforce.rrs.coupon.model.CouponUsage"/>


        
        <typeAlias alias="ActivityDefinition" type="com.aixforce.rrs.code.model.ActivityDefinition"/>
        <typeAlias alias="ActivityBind" type="com.aixforce.rrs.code.model.ActivityBind"/>
        <typeAlias alias="ActivityCode" type="com.aixforce.rrs.code.model.ActivityCode"/>
        <typeAlias alias="CodeUsage" type="com.aixforce.rrs.code.model.CodeUsage"/>

        <!-- 净水处理 -->
        <typeAlias alias="PurifySeries" type="com.aixforce.rrs.purify.model.PurifySeries"/>
        <typeAlias alias="PurifyCategory" type="com.aixforce.rrs.purify.model.PurifyCategory"/>
        <typeAlias alias="PurifyAssembly" type="com.aixforce.rrs.purify.model.PurifyAssembly"/>
        <typeAlias alias="PurifyRelation" type="com.aixforce.rrs.purify.model.PurifyRelation"/>

        <!-- 支付宝对账信息 -->
        <typeAlias alias="AlipayTrans" type="com.aixforce.rrs.settle.model.AlipayTrans"/>
        <typeAlias alias="AlipayTransLoad" type="com.aixforce.rrs.settle.model.AlipayTransLoad"/>
        <typeAlias alias="AbnormalTrans" type="com.aixforce.rrs.settle.model.AbnormalTrans"/>
        <typeAlias alias="DepositFeeCash" type="com.aixforce.rrs.settle.model.DepositFeeCash"/>

        <!-- 抢购活动 -->
        <typeAlias alias="BuyingActivityDefinition" type="com.aixforce.rrs.buying.model.BuyingActivityDefinition"/>
        <typeAlias alias="BuyingItem" type="com.aixforce.rrs.buying.model.BuyingItem"/>
        <typeAlias alias="BuyingOrderRecord" type="com.aixforce.rrs.buying.model.BuyingOrderRecord"/>
        <typeAlias alias="BuyingTempOrder" type="com.aixforce.rrs.buying.model.BuyingTempOrder"/>

        <!-- 净水押金 -->
        <typeAlias alias="PreDeposit" type="com.aixforce.rrs.predeposit.model.PreDeposit"/>

        <!-- 支付宝模拟帐务记录 -->
        <typeAlias alias="MockedAlipayTrans" type="com.aixforce.rrs.settle.model.MockedAlipayTrans"/>
    </typeAliases>
</configuration>