<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2013 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Addresses">
    <resultMap id="AddressesMap" type="Addresses">
        <id property="id" column="id"/>
        <result property="cityName" column="name"/>
    </resultMap>


    <select id="findAddress" resultMap ="AddressesMap" parameterType="int">
      select id,name from exper_address_view where parent_id=#{provinceId};
    </select>
    <select id="findProvince" resultMap ="AddressesMap">
        select id,name from exper_address_view where level = 1;
    </select>


</mapper>
