<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2013 杭州端点网络科技有限公司
   -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BrandClubProductType">
    <resultMap id="brandClubProductTypeMap" type="brandClubProductType">
        <id property="id" column="id"/>
        <result property="productTypeName" column="productTypeName"/>
        <result property="typeOrder" column="typeOrder"/>
    </resultMap>

    <sql id="columns">
        productTypeName,typeOrder
    </sql>

    <select id="findAllBy" resultMap="brandClubProductTypeMap">
        select id,
        <include refid="columns"/>
        from brand_club_product_type order by typeOrder asc;
    </select>

</mapper>