<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2013 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 净水组件关联(Created by Michael Zhao) -->
<mapper namespace="PurifyRelation">
    <resultMap id="purifyRelationMap" type="PurifyRelation">
        <id property="id" column="id"/>
        <result property="assemblyParent" column="assembly_parent"/>
        <result property="assemblyChild" column="assembly_child"/>
        <result property="productId" column="product_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="column">
        assembly_parent, assembly_child, product_id, created_at, updated_at
    </sql>

    <insert id="create" parameterType="purifyRelation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rrs_purify_relation (<include refid="column"/>)
        VALUES (#{assemblyParent}, #{assemblyChild}, #{productId}, now(), now());
    </insert>

    <update id="update" parameterType="purifyRelation">
        UPDATE rrs_purify_relation
        <set>
            <if test="assemblyParent!=null">assembly_parent=#{assemblyParent},</if>
            <if test="assemblyChild!=null">assembly_child=#{assemblyChild},</if>
            <if test="productId!=null">product_id=#{productId},</if>
            updated_at=now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        delete from rrs_purify_relation
        where id=#{id}
    </delete>

    <!-- 执行批量删除操作 -->
    <delete id="deleteByAssemblyIds">
        delete from rrs_purify_relation
        where assembly_parent in
        <foreach collection="array" item="parentId"  open="(" separator="," close=")">
            #{parentId}
        </foreach>
    </delete>

    <select id="findById" parameterType="long" resultMap="purifyRelationMap">
        SELECT id, <include refid="column"/> FROM rrs_purify_relation WHERE id = #{id}
    </select>

    <!-- 根据父级组件&下级组件编号确定唯一的Relation -->
    <select id="findRelation" parameterType="map" resultMap="purifyRelationMap">
        SELECT id, <include refid="column"/> FROM rrs_purify_relation
        where assembly_parent = #{assemblyParent} and assembly_child = #{assemblyChild}
    </select>
</mapper>